<main #main>


  <section class="map-container">

    <!-- <app-barSearch (result)="obtenervalor($event)" class="searchBar"> </app-barSearch> -->

    <app-map (modalModify)="getStatusModal($event)" (modalActiveEmitter)="StatusModal($event)" [ngStyle]="{'height':'500px','width':'400px'}"
      [Parcelas]="parcelas" (ObjParcela)="getInforParcela($event)" (ModifiObj)="getObjectModify($event)" (Pacelageom)="almacenarParcela($event)"></app-map>

  </section>
  @if(ModalActive){
  <app-modal-create-parcela class="modal" (ModalEmitter)="StatusModal($event)"
    (formulario)="getParcela($event)"></app-modal-create-parcela>
  }

  @if(ActividadModal){
  <app-actividades-modal  class="modal_padre" (mensaje)="getMessageFromCultive($event)" (DeleteStatus)="showTooltipDelete($event)" [actividades]="cultivos" [informacionParcela]="parcela_Info" (closeModal)="getCloseActividadModal($event)"></app-actividades-modal>
  }

  @if(loading){

  <spinner></spinner>

  }
  @if(statusModal){
      <app-modal-update (event)="getStausUpdate($event)" [accion]="'actualizar'"></app-modal-update>
  }

  @if(showTooltip){
      <app-modal-update (event)="getDeleteStatus($event)" [accion]="'eliminar'"></app-modal-update>
  }

  @if(messageStatus){
    <app-message [mensaje]="mensaje" [color]="color"></app-message>
  }

</main>
