main {
  display: flex;
  flex-direction: column;


}



.map-container {
  align-self: center;
}

.modal {
  position: relative;
  margin: 0 auto;

}


.loading {
  opacity: 0.5;
}

.modal_padre{
  margin-top: 15px;
}
