.card{
  min-height: fit-content;
  max-height: max-content;
  width: 350px;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 39%;
}
.card form{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 18px;

}

.mdc-text-field--filled{
  background-color:#ffffff;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff;
}

.actions_btn{
  display: flex;
  justify-content: space-between;
}


.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--filled{
  background-color: transparent;
}
