/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import 'ol/ol.css';
@import 'ol-ext/dist/ol-ext.css'; /* Si usas ol-ext */
@import 'ol-layerswitcher/dist/ol-layerswitcher.css'; /* Si usas layerswitcher */
@import 'ol-geocoder/dist/ol-geocoder.min.css'; /* Si usas geocoder */

/* Forzar visualización de iconos */
.ol-control button {
    background-color: rgba(0, 60, 136, 0.5) !important;
    color: white !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

*{margin-top: 0px;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

