.actividades-modal{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 5px;
  width: 100dvh;
  margin: 0 auto;
  height: 30dvh;
}

.danger_btn{
  background-color: #32bb09;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;

}
.danger_btn:hover{
  background-color: #32e61a;
}
